<html>
<h2>Steps</h2>
<hr />
{% for day in sprint['days'] %}
{%     set ns = namespace() %}
{# set cannot be used in a loop because it is rest for each item in loop #}
{# so we put out variable in a namespace #}
{%     set ns.issues = [] %}
        <time datetime="{{ day }}" /><br />
        <ul>
{%   for cmt in _logs['days'][day] %}
{%       if not cmt['issue'] in ns.issues  %}
            <li>
              {{ cmt['issue'] }}
            </li>
{%       endif %}
            <li>{{ cmt['body']|split('\n')|first|c2platform.test.jira_markup2html }}
            </li>
{%      set ns.issues = ns.issues + [cmt['issue']] %}
{%   endfor %}
        </ul>
{% endfor %}
</html>